@import url("reset.css");
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Modal */
.modal {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  left: 50%;
  max-width: 80%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  width: 500px;
  z-index: 10;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-body {
  padding: 10px 15px;
}
.modal-header {
  align-items: center;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.modal-header .close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  outline: none;
}
.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}
#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  right: 0;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}